@mixin colors($bg-col, $col) {
  background-color: $bg-col;
  color: $col;
}

@mixin bg-img($url, $x, $y, $size) {
  background-image: url($url);
  background-position: $x $y;
  background-size: $size;
  background-repeat: no-repeat;
}