:root {
  --padding-top: 110px;
  --ff-main: 'Raleway', sans-serif;
  --ff-logo: 'Pacifico', cursive;
  --fs-p: 17px;
  --fw-light: 200;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-heavy: 800;
  --col-black: #262626;
  --col-white: #fff;
  --col-attention: #FF6033;
  --bs: 0px 2px 5px rgba(0,0,0,.5);
}